* {
    text-align: center;
}
header {
    background-color: rgb(52, 125, 227);
    height: 150px;
}

h1 {
    line-height: 100px;
    margin-bottom: 0;
}
nav {
    margin-bottom: 50px;
    letter-spacing: 10px;
}

span {
    letter-spacing: 0;
}

footer{
    margin-top: 50px;
    background-color: rgb(181, 181, 178);
    height: 35px;
}

img {
    border: 20px solid rgb(169, 169, 169);
    border-radius: 50%;
}
.house{
    position: relative;
    bottom: 100px;
}