* {
    width: 500px;
    height: auto;
}

header {
    height: 70px;
}
.new {
    width: 10px;
    height: 40px;
    background-color: orangered;
}

h1 {
    position: relative;
    left: 30px;
    bottom: 65px;
}

img {
    width: 400px;
}
.bag {
    width: 350px;
    position: relative;
    left: 30px;
    bottom: 200px;
    color: white;
}

.main {
    height: 340px;
}
